
* {

    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;


}

.border {
    border : 1px solid crimson;
}

.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



::-webkit-scrollbar {
    display: none;
}


#dynamic {

    width: 100%;
    flex: 1;
    background-color: whitesmoke;

    overflow: scroll;

}