
#menu {

    width: 100%;
    height: 60px;
    background-color: #313131;

    display: flex;
    justify-content: space-between;
}


.menu-item {
    flex: 1;
    height: 60px;
    background-color: white;

    display: flex;
    flex-flow: column nowrap;
}